
form[class="form"] {
    border: 5px solid lightsteelblue;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    width: 50%;
    font-weight: 100;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    background-color: #ffffff;
}

table {
    border: 5px solid lightsteelblue;
    padding: 10px;
    margin: 5px;
    /*width: 1200px;*/
    width: 60%;
    border-radius: 30px;
    font-weight: 100;
    line-height: 1.5em;
    background-color: #ffffff;
}

/*        caption {
                    border: 5px solid lightsteelblue;
                    padding: 8px 12px;
                    margin: 5px;
                    border-radius: 30px;
                    width: 50%;
                    font-weight: bold;
                    line-height: 1.5em;
                    background-color: #ffffff;
                    border-bottom: none;
                }
        */

input, select {
    border-radius: 10px 100px / 120px;
}

#forma_finantare {
    grid-column-start: 1;
    grid-column-end: 3;
}

body {
    background-color: #111;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

    ul li a {
        --c: goldenrod;
        color: var(--c);
        font-size: 16px;
        border-radius: 0.5em;
        width: 12em;
        height: 3em;
        text-transform: uppercase;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 0.1em;
        text-align: center;
        line-height: 3em;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 0.5s;
        margin: 1em;
        float: left;
        text-decoration: none;
    }

    ul li span {
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: var(--c);
        transform: translateY(150%);
        border-radius: 50%;
        left: calc((var(--n) - 1) * 25%);
        transition: 0.5s;
        transition-delay: calc((var(--n) - 1) * 0.1s);
        x-index: -1;
    }

    ul li a:hover {
        color: black;
    }

        ul li a:hover span {
            transform: translateY(0) scale(2);
        }

    ul li a span:nth-child(1) {
        --n: 1;
    }

    ul li a span:nth-child(2) {
        --n: 2;
    }

    ul li a span:nth-child(3) {
        --n: 3;
    }

.circle {
    margin: 100px auto 0;
    /*width: 275px;
            height: 275px;*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid transparent;
    /*border: 10px solid transparent;*/
    border-top-color: crimson;
    border-bottom-color: crimson;
    animation: spin 1s ease-in-out infinite;
    /*animation: spin 1s linear infinite;*/
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
